img{
  width: 100%;
}

h3{
  text-align: center;
}

.collectors-number{
  /*  */
  float:right;
  
}

.card{
  display: inline-block;
  width: 20%;
  

  

}

a{
  /* remove styling */
  text-decoration: none;
  color: black;
}


/* if its on mobile change the width to 100% */
@media only screen and (max-width: 600px) {
  .card{
    width: 100%;
  }
}

.searchbar{
  width: 100%;
  margin-bottom: 20px;
}
