img{
  width: 100%;
}

h3{
  text-align: center;
}

.collectors-number{
  /*  */
  float:right;
  
}

.card{
  display: inline-block;
  width: 20%;
  /* if its on mobile change the width to 100% */
  @media (max-width: 600px) {
    width: 100%;
  }
}